<h3><b>Application Detail</b></h3>

<app-workflowaction applicationId="{{applicationId}}"></app-workflowaction>


<table class="table table-striped">
    <tbody>
        <tr>
            <th scope="row">App #</th>
            <td>{{application.id}}</td>
        </tr>
        <tr>
            <th scope="row">Loan Type</th>
            <td>{{application.loanType.name}}</td>
        </tr>
        <tr>
            <th scope="row">Amount</th>
            <td>{{application.amount}}</td>
        </tr>
        <tr>
            <th scope="row">Amount Approved</th>
            <td>{{application.amountApproved}}</td>
        </tr>
        <tr>
            <th scope="row">Application Date</th>
            <td>{{application.applicationDate | date:'shortDate'}}</td>
        </tr>
        <tr>
            <th scope="row">Status</th>
            <td>{{application.status.name}}</td>
        </tr>
        <tr>
            <th scope="row">Last Updated</th>
            <td>{{application.updatedDate | date:'shortDate' }}</td>
        </tr>
    </tbody>
</table>