<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">App #</th>
    <th scope="col">Loan Type</th>
    <th scope="col">Date</th>
    <th scope="col">Status</th>
    <th scope="col">Status Updated</th>
    <th scope="col">Amount</th>
    <th scope="col">Approved</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let application of applications;">
    <td scope="row">{{application.id}}</td>
    <td>{{application.loanType.name}}</td>
    <td>{{application.applicationDate | date:'shortDate'}}</td>
    <td>{{application.status.name}}</td>
    <td>{{application.updatedDate | date:'shortDate' }}</td>
    <td>{{application.amount}}</td>
    <td>{{application.amountApproved}}</td>
    <td>
      <div>
          <a routerLink="" (click)="this.detail(application)" class="btn btn-primary">Detail</a>
      </div>
    </td>
  </tr>
  
  </tbody>
</table>